<html>
    <head>

    </head>
    <body>
        <div>
            <center><h2 style="color:rgb(238, 77, 136)">ADD NEW PRoduct</h2></center>
        <form action="/logina" method="POST">
            
                <!-- Labels and input fields -->
                <label for="name">USERNAME</label>
                <br>
                <input type="text" placeholder="Enter your name" id="name" name="name">
                <br><br>
                <label for="email">EMAIL</label>
                <br>
                <input type="email" placeholder="Enter your email address" id="email" name="email">
                <br><br>
                <label for="password">PASSWORD</label>
                <br>
                <input type="password" placeholder="Enter your password" id="password" name="password">
                <br><br>
                <label for="contact">CONTACT NO</label>
                <br>
                <input type="text" placeholder="Enter your number" id="contact" name="contact">
                <br><br>
                <input type="submit" value="Register" id="b">
            
        </form>
    </body>
</html>