<!DOCTYPE html>
<html>
    <head>
        <style>
            h1{
                color: brown;
            }
            div{
            border-style: solid;
            border-width: 3px;
            border-radius: 2px;
            padding-top: 20px;
            border-color: rgb(64, 110, 248);
            background-color: rgb(246, 249, 253);
            width: 20%;
            height:50%;
            margin: auto;
            margin-top: 200px;
        }
        </style>
    </head>
  <body>
    <center><h1>WELCOME  ,{{ session['username'] }}</h1></center>
    <div>
    <table>
        <tr>
        <td>Username</td>
        <td>{{ session['username'] }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ session['email1'] }}</td>
      </tr>
      
    </table>
    </div>
  </body>
</html>
