<html>
    <head>
        <style>
            table{
                border-radius: 2px;
                border:2px solid black;
                padding: 10px;
            }
            tr{
                border:2px solid black;
                padding: 10px;
            }
            td{
                border:2px solid black;
                padding: 10px;
            }
        </style>

    </head>
    <body>
        <h1>display the number in blocks using flask</h1>
        {% set row = [[1,2,3],[4,5,6]] %}
        <table>
            {% for r in row %}
            <tr>
                {% for c in r %}
                <td>{{c}}</td>
               {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
